.inline {
	display: inline-block;
}
#label{
	color: black;
	font-size: 50px;
	font-weight: bold;
	font-family: helvetica;
}
.zero{
	margin:0 !important;
	padding: 0 !important;
}
#price{
	color: black;
	font-weight: bold;
	font-size: 30px;
	font-family: Comic Sans MS;
}
#containerThumbnail{
	border: 1px solid black;
}
#details-2{
	margin-top: 20px;
}
#largeImage{
	margin: 0 !important;
	padding: 0 !important;
}
#description{
	border: 1px solid red;
}
#descContainer{
	height: 400px;
}
#btnAdd{
	margin: 10px;
	padding: 20px;
}
#moreDetails{
	padding: 0;
	margin-top: 20px;
}
.toBottomRight{
	position: absolute;
	right: 0;
	bottom: 0;
}