.thumbnail{
	background-size: cover;
	height: 300px;
	width: 300px;
	background-color: black;
	margin: 0;
	padding: 0;
	z-index: 0;
}
.whiteFont{
	color: white;
	font-size: 30px;
	font-weight: bold;
	z-index: 99 !important;

}
#catalogContainer {
	padding-left: 120px;
	padding-right: 120px;

}
#wrap{
	background-color: black;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	opacity: .6;
	position: relative;
	z-index: -1;
}
#wrap:hover{
	opacity: 0;
	cursor:pointer;
}
#wrap:hover #label{
	opacity: 0;
	cursor:pointer;
}
#label{
	padding-top: 100px;
	margin-right: 100px;
	margin-left: 100px;
	position: absolute;
	top: 0;
}
